<form [formGroup]="form">
  <h3>Form Control - change detection</h3>
  <p>This a demonstration of what happens when a developer adds a directive to provide additional functionalities to an input element.</p>
  <p>The directive listens for the following events: focus, blur, mouseenter, mouseover. It will pad the value when the user does not interact with the input element and will unpad when the user is interacting.</p>
  <p>Open DevTools -> Console, every time change detection runs an entry will be logged.</p>

  <div>
    <h4>Without unpatch</h4>
    <p>Hover any of the input elements and watch CD log entries increase.</p>
    <p>Type in any of the input elements and watch the valueChanges subscription receiving values.</p>
    <div class="form-group">
      <label>Contract number</label>
      <input type="text" formControlName="contractNumber" placeholder="Hover me!"
             leadingCharacter [control]="form.controls.contractNumber" [leadingLength]="10" [leadingCharacter]="'0'" />
    </div>
    <div class="form-group">
      <label>Phone number</label>
      <input type="text" formControlName="phoneNumber"    placeholder="Hover me!"
             leadingCharacter [control]="form.controls.phoneNumber" [leadingLength]="10" [leadingCharacter]="'0'" />
    </div>
  </div>

  <div>
    <h4>With unpatch</h4>
    <p>Hover any of the input elements, this should not cause a CD entry in the log.</p>
    <p>Type in any of the input elements and watch the valueChanges subscription receiving values.</p>
    <div class="form-group">
      <label>Contract number</label>
      <input type="text" formControlName="contractNumber" placeholder="Hover me!" [unpatch]
             leadingCharacter [control]="form.controls.contractNumber" [leadingLength]="10" [leadingCharacter]="'0'" />
    </div>
    <div class="form-group">
      <label>Phone number</label>
      <input type="text" formControlName="phoneNumber"    placeholder="Hover me!" [unpatch]
             leadingCharacter [control]="form.controls.phoneNumber" [leadingLength]="10" [leadingCharacter]="'0'" />
    </div>
  </div>

</form>
